<!-- Navbar -->
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a style="cursor: default" class="navbar-brand" href="javascript:">Journal</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <!--<li><a href="javascript:">WHO</a></li>-->
                <li><a href="javascript:" ng-click="openAboutPopup()">ABOUT</a></li>
                <li><a href="javascript:" ng-click="openLoginPopup()">SIGN IN</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- First Container -->
<div class=" container-fluid bg-1 text-center">
    <h1 class="margin">Journal</h1>
    <img src="res/img/title-icon.png" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="250" height="250">
    <h2>Электронный журнал</h2>
</div>

<!-- Second Container -->
<div class="container-fluid bg-2 text-center">
    <h3 class="margin">Каков функционал?</h3>
    <p> Доступ 24/7 к отчетности, возможность загрзки и печати отчетов согласно формату действующего журнала, <br>
        восстановление актуальной версии отчета, в случае утраты,<br> просмотр списка должников, адаптивний интерфейс,
        централизоыванное обновление
    </p>
    <a href="javascript:" id='myModal' class="btn btn-default btn-lg" ng-click="openLoginPopup()">
        <span class="glyphicon glyphicon-log-in"></span> Войти
    </a>
</div>

<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
    <p> Kasterov S. A. DIIT <br> 2017 </p>
</footer>

<!-- Popups -->
<div class="login-popup" style="display: none; color: black" id="loginPopup">
    <div class="text-center">
        <form class="authorization" name="form_authorization" ng-show="!isLoading">
            <div>
                <input id="login" placeholder="Login" type="text" ng-model="login"  ng-required="true"/>
            </div>
            <div>
                <input id="password" placeholder="Password" type="password" ng-model="pass" ng-required="true"/>
            </div>
            <button ng-click="loginClick()">Login</button>
        </form>

        <div class="row">
            <div class="vcenter" style="width: 100%; height: 50%;">
                <div ng-show="isLoading" class="loader">Loading...</div>
            </div>
        </div>

    </div>
</div>

<div style="display: none; color: black" id="aboutPopup">
    <div class="text-center">
        Journal <br>
            &copy; Kasterov S. A. <br>
                DIIT 2017
    </div>
</div>

<script>

</script>
