<div>
    <h3>Journal E</h3>
    <span>Please login</span>

    <form class="authorization">
        <div>
            <label for="login">Login: </label>
            <input id="login" placeholder="Login (ex. admin/user)" ng-model="login" />
        </div>
        <div>
            <label for="password">Pass: </label>
            <input id="password" placeholder="Pass (ex. 123456)" type="password" ng-model="pass" />
        </div>
    </form>

    <button ng-click="loginClick()">Login</button>
</div>