<div>
    <div>Settings.</div>
    <div>Only superuser can see this.</div>

    <form name="groupCreate">
        <input type="text" ng-model="groupNumber" placeholder="Group number" ng-required="true">
        <input type="text" ng-model="groupFaculty" placeholder="Faculty number" ng-required="true">
        <button ng-click="createGroup(groupNumber, groupFaculty)">Add new Group</button>
    </form>

    <br>

    <form name="subjectCreate">
        <input type="text" ng-model="subjectName" placeholder="Subject name" ng-required="true">
        <button ng-click="createSubject(subjectName)">Add new Group</button>
    </form>

    <br>

    <button ng-click="goTo('/reports')">To reports</button>
</div>