#jBoxSuccess .jBox-container {
    background-color: #1abc9c;
}

#successPopup {
    background-color: #1abc9c;
    color: black;
}

#jBoxFailure .jBox-container {
    background-color: #f48686;
}

#failurePopup {
    background-color: #f48686;
    color: black;
}

#jBoxlogin {
    transition: all 0.3s ease 0s;
}
#jBoxlogin.error .jBox-container {
    background-color: #f48686;
}


/* popups */
.attend-popup, .marks-popup {
    color: black;
}
button.attend-bt, button.mark-bt {
    background: #428BCA;
    color: #fff;
    border: none;
    width: 50px;
    margin: 20px 0 20px 0;
    border-radius: 0;
    outline: none;
    transition: all 0.3s ease 0s;
}

/* attend popup */
    button.attend-bt.cross {
        background: #428BCA;
        color: #fff;
        text-decoration: line-through;
    }

    button.attend-bt.o {
        background: #b4ca7e;
        color: black;
    }

    button.attend-bt.not {
        background: #f48686;
        color: white;
    }

    button.attend-bt:hover {
        background: #0119ca;
    }
/* /attend popup */

/* mark popup */
    button.mark-bt.one {
        background: #ca0000;
        color: black;
    }

    button.mark-bt.two {
        background: #f48686;
        color: black;
    }

    button.mark-bt.three {
        background: #f4d25d;
        color: black;
    }

    button.mark-bt.four {
        background: #6fca71;
        color: black;
    }

    button.mark-bt.five {
        background: #00ca1c;
        color: black;
    }

/* /mark popup */

/* popup date */

.date-popup, .card-popup {
    color: black;
}
    .date-popup button, .card-popup button {
        background: #428BCA;
        color: #fff;
        border: none;
        width: 100px;
        border-radius: 0;
        outline: none;
        transition: all 0.3s ease 0s;
    }

    .date-popup input {
        /*border-radius: 5px;*/
        outline: none;
        /*border: none;*/
        /*background-color: #428BCA;*/
    }

    .date-popup button:disabled, .card-popup button:disabled  {
        color: black;
        background: lightgray;
    }

    .card-popup input {
        outline: none;
        text-align: center;
    }
/* /popup date */