@media print {
    div.tool-box {
        display: none;
    }
    select {
        font-weight: bold;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none; /* If you want to remove the border as well */
        background: none;
    }
    select.middle {
        margin-left: 30px;
        font-size: 20px;
    }

    .print-mini {
       font-size: 13px;
    }

    .report-passport * {
     font-size: 12px;
    }

    .report-head, .report-head * {
        margin: 0;
        padding: 0;
    }
        .report-study-load .report-head h1 {
            font-size: 15px;
        }
        .report-study-load .report-head span,
        .report-study-load .report-head select {
            font-size: 13px;
        }

}